DATABASE_URL=postgresql+asyncpg://postgres:yourpassword@localhost:5433/construction_db
DB_ECHO=False
SECRET_KEY=your_64char_random_key
ENVIRONMENT=development
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ALGORITHM=HS256
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_16char_app_password
MAIL_FROM=your_gmail@gmail.com
MAIL_FROM_NAME=Construction QMS
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
FRONTEND_URL=http://localhost:3000